div.tbm-tweet-bookmark-icon {
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    display: inline-flex;
    height: 34.75px;
    justify-content: center;
    margin-left: 15px;
    user-select: none;
    width: 34.75px;
}

div.tbm-tweet-bookmark-icon:hover {
    background-color: #ccc3;
}

div.tbm-tweet-bookmark-list {
    background-color: #15202b;
    flex-wrap: wrap;
    width: 300px;
}

div.tbm-tweet-bookmark-list-item {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 100%;
}

div.tbm-tweet-bookmark-list-item-text {
    color: #fff;
    font-size: 15px;
}
